.navLinkContainer{
    text-decoration: none;
    color: var(--branco);
    margin: 0 .5rem;
    font-size: 14px;
    position: relative;

    &:hover{
        &::before{
            width: 100%;
        }
    }

    &::before{
        content: "";
        width: 0%;
        height: 1px;
        position: absolute;
        background-color: var(--vermelho);
        bottom: -5px;
        transition: .5s;
    }
}
