.headeBanner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    position: relative;

    & div{
        & p{
            text-align: center;
            margin: 0;
            text-transform: uppercase;
            font-size: 14px;
        }
    }
}

.sobreContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;

    &__img{
        min-width: 300px;
        max-width: 400px;
        min-height: 300px;
        max-height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 3rem;
    }

    &__habilidadesContainer{
        text-align: center;
        & p{
            margin: 0;
            font-size: 14px;
        }
        & ul{
            margin: 0;
            list-style: none;
            display: flex;
            padding: 0;
            align-items: center;
            flex-wrap: wrap;
            & li{
                margin: .5rem;
                display: flex;
                align-items: center;
                flex-direction: column;
                & div{
                    width: 30px;
                    height: 30px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                & p{
                    font-size: 14px;
                    margin: 0;
                }
            }
        }
    }

    &__container{
        min-width: 350px;
        max-width: 480px;
        padding: .5rem;
        
        & div{
            text-align: center;
    
            & p{
                margin: 0;
                margin-top: .5rem;
                font-size: 16px;
    
                & span{
                    color: var(--vermelho);
                }
            }
        }
    }

}

.projetosContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;

    & div{
        border: 1px solid var(--vermelho);
        border-radius: 10px;
        padding: .5rem;
    }
    & ul{
        padding: 0;
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.habilidadesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
    & ul{
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        & li{
            margin: 1rem;
            padding: 1rem .5rem;
            border-radius: 5px;
            border: 1px solid var(--vermelho);
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            & p{
                bottom: -1.5rem;
                position: absolute;
                margin: 0;
            }
            & div{
                width: 35px;
                height: 35px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .sobreContainer{
        &__img{
            margin: 0;
        }
    }
}